html, body
{
    padding:0px;
    margin:0px 0px 0px 0px;
    height: 100%;
    text-align:center;
    background-color:#9e9e9e;
}
html, body, input, textarea
{
    font-size:12px;
    font-family:Verdana;
    color:#000000;
    text-decoration:none;
    line-height:1.5em;
}
a, a:visited
{
    font-family:Verdana;
    color:#000000;
    text-decoration: underline;
}
a:hover, a:visited:hover
{
    text-decoration:none;
}
div
{
    text-align:left;
}
td
{
    vertical-align:top;
    text-align:left;
    padding:2px;
}
h1
{
    font-size:16px;
    font-weight:bold;
    color:#000000;
}
h2
{
    font-size:16px;
    font-weight:bold;
    color:#000000;
}
div.std
{
    padding:2px;
}
div.extra
{
    padding:20px 15px 20px 15px;
}
div.extra p
{
    margin:0px;
    color:#016e82;
    line-height:16px;
}
div.extra h1
{
    color:#000000;
    font-size:16px;
    font-weight:bold;
    margin:0px;
    padding-bottom:10px;
}
div.extra h2
{
    color:#000000;
    font-size:16px;
    font-weight:bold;
    margin:0px;
    padding-bottom:10px;
}
.textbox
{
    border:1px solid #666666;
    padding:2px;
}
.header
{
    padding-left:5px;
    padding-right:5px;
    background-color:#9e9e9e;
    font-weight:bold;
    color:#fff;
    height:20px;
}
a.menu-link, a.menu-link:visited
{
    font-size:13px;
    font-weight:bold;
    color:#000000;
    line-height:20px;
    text-decoration: underline;
}
a.small-link, a.small-link:visited
{
    font-size:13px;
    color:#000000;
    font-weight:bold;
    text-decoration: underline;
}
div.repeat
{
    float:left;
    width:100%;
    padding-bottom:20px;
}

.logotext
{
    color:#FFFFFF;
    font-weight:bolder;
    font-size:20px;
    text-indent:5px;
    padding-top:5px;
    padding-bottom:5px;
    float:left;
}

.bottom
{
    padding-left:10px;
    padding-top:7px;
    height:30px;
    vertical-align:middle;
    color:#FFFFFF;
    font-size:10px;
}

